.container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.item {
    width: 70%;
    box-sizing: border-box;
    /* パディングとボーダーを幅に含める */
    margin-right: 20px;
    /* アイテム間のスペーシングを追加 */
}

.item_container {
    width: 50%;
    /* 小さな画面ではフル幅 */
    margin-top: 20px;
    /* 小さな画面でアイテム間のスペーシングを追加 */
}

.item-content {
    display: flex;
}

.item_img {
    margin-top: 100px;
    width: 300px;
}

.item_img img {
    width: 100%;
    height: auto;
}

.item-info {
    margin-left: 90px;
    margin-top: 100px;
}

.item-name {
    font-size: 20px;
    font-weight: bold;
}

.pay {
    margin-top: 10px;
    margin-bottom: 0;
}

.stripe-button{
    background-color: #ccc;
    color: #000;
}


.Payment-Method_change{
    margin-left: 50%;
    background-color: #FF5555;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 10px;
        width: 130px;
    
}

.delivery_address{
    margin-top: 10px;
    margin-bottom: 0;
}
.address {
    margin-top: 10px;
        margin-bottom: 0px;
}

.delivery_address {
    margin-right: 10px;
     /* 要素間の間隔を調整 */
}

.address_change{
    margin-left: 50%;
    background-color: #FF5555;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 10px;
        width: 130px;
}
.price-info-container {
    margin-top: 100px;
}

.price-info{
    height: 250px;
}
.price-info-box {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 200px;
}

.item_price{
    text-wrap: nowrap;
    margin-top: 50px;
}
.total_price{
    margin-top: 150px;
}
.price {
    font-size: 24px;
    font-weight: bold;
}

.payment-methods {
    list-style: none;
    margin: 0;
    padding: 0;
}

.payment-methods li {
    margin-bottom: 10px;
}

.button_container{
    width: 100%;
}

.card_button{
    background-color: #FF5555;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}
.konbini_button {
    background-color: #FF5555;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* 適切なマージンを設定 */
}

.cardNumberElement{
    width: 20%;
}

.expiryDateElement,
.cvvElement {
    margin-top: 8px;
    width: 30%;
    /* 適切なマージンを設定 */
}

@media (max-width: 768px) {

    .container {
            display: flex;
            flex-wrap: wrap;
            /* アイテムが次の行に折り返せるようにする */
        }
    .item {
        width: 100%;
        /* 小さな画面ではフル幅 */
        margin-right: 0;
        /* 小さな画面では右側のマージンを削除 */
    }

    .item_container {
        width: 100%;
        /* 小さな画面ではフル幅 */
    }

    .item-content {
        display: flex;
        justify-content: center;
        /* 小さな画面ではアイテムを垂直にスタック */
    }

    .change{
        width: 100%;
        text-align: center;
    }

    .Payment-Method_change{
        margin-left: 0;
    }

        .address_change{
            margin-left: 0;
        }
}