.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.item-images {
    flex: 1;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 15%;
    width: 50%;
}

.images {
    width: 100%;
}

.item-detail {
    flex: 2;
    width: 50%;
}


.fa-circle-o {
    color: #ccc;
    font-size: 16px;
}

.icon{
    width: 50%;
}

.favorite_buttons_container {
    display: flex;
    align-items: center;
}

.comment_info {
    margin-top: 10px;
    /* 適切なマージンを設定してください */
}

.ster_img{
    width: 50px;
    border: none;
}

.ster{
    border: none;
    background-color: #fff;
    float: left;
}

.comment_img{
    width: 50px;
}

.user_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    text-align: center;
}

.comments{
    overflow-y: auto;
    max-height: 320px;
}
.comment_form {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.comment_form h2 {
    margin-bottom: 20px;
}

.comment_form form {
    width: 60%;
}

.comment_form form .form-group {
    margin-bottom: 20px;
}

.comment_form form textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.comment_form form .btn {
    width: 100%;
}

.comment_form .action {
    position: absolute;
    right: 0;
    bottom: 0;
}

.favorite_button {
    height: 60px;
}

.favorite_count {
    margin-left: 25px;
}

.comment_count {
    margin-left: 40px;
}