.header {
    background: #000;
    width: auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 15px; 
}

.header-utilities{
    margin-top: 10px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-wrap: nowrap;
}

.header_nav{
    width: 30%;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__button {
    margin-bottom: 0;
}

.header-nav__link {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100px;
}

.exhibit {
    display: block;
    text-align: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 55px;
}

.header-nav__button {
    display: block;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    width: 100px;
}

.header-nav__button:hover {
    background-color: initial;
}

.header-nav_form {
    margin-bottom: 0;
}

.header-search{
    height: 40px;
    width: 50%;
    margin-top: 10px;
}
.label{
    width: 100%;
}

.search_form{
    display: flex;
    justify-content: space-between;
        align-items: center;
        overflow: hidden;
        border: 1px solid #767d83;
        border-radius: 3px;
    height: 100%;
}
.search_input{
width: 100%;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search_button {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 45px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        border-radius: 5px;
        background-color: #fff;
}

.search_button::after{
    width: 20px;
        height: 20px;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
        content: '';
}

@media (max-width: 768px) {

    .header__inner{
        display: block;
        margin: 0 auto;
        padding: 20px 15px;
        max-width: 1230px;
    }
    .header-search,
    .header-nav {
        width: 100%;
        margin-top: 10px;
    }

}