.header {
    background: #000;
    width: 100%;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100px;
}
.exhibit{
    display: block;
    text-align: center;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 70px;
}
.header-nav__button {
    display: block;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    width: 100px;
}
.header-nav__button:hover {
    background-color: initial;
}