.item-details-container {
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.item_img {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.img{
    width: 60%;
    margin-top: 10%;
    margin-left: 15%;
}

.item-details {
    width: 50%;
    min-width: 250px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    float: left;
}

.item_name {
    font-weight: bold;
}

.item_price {
    font-size: 16px;
    font-weight: bold;
}

.category_content,
.condition_content {
    display: flex;
    margin-bottom: 10px;
}

.item_category {
    margin-bottom: 10px;
    font-weight: bold;
}

.category{
    background-color: dimgray;
    color: #fff;
    border-radius: 5px;
}

.item_condition {
    margin-bottom: 10px;
    font-weight: bold;
}

.buyPage {
    width: 175px;
    height: 40px;
    background-color: #FF5555;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.summary {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.info {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}


.favorite_button{
    height: 25px;
}

.ster_img {
    width: 25px;
    border: none;
}

.ster {
    border: none;
    background-color: #fff;
    float: left;
}

.comment_img {
    width: 25px;
    margin-left: 25px;
}

.counts{
    margin-top: 10px;
}
.favorite_count{
margin-left: 8px;
}

.comment_count{
margin-left: 38px;
}

@media (max-width: 768px) {

    .main{
        text-align: center;
    }

    .img {
        text-align: center;
        width: 60%;
        margin-top: 10%;
        margin-left: 0;
    }
    .item_img,
    .item-details {
        width: 100%;
        float: none;
        box-sizing: border-box;
        margin-left: 0;
    }

        .category_content,
        .condition_content {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .favorite_buttons_container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .favorite_buttons_container .favorite,
        .favorite_buttons_container .favoriteDelete {
            margin-right: 5px;
        }

        .favorite_buttons_container .comment_icon {
            margin-left: 10px;
        }

        .favorite_count {
            margin-left: 2px;
        }
        .comment_count {
            margin-left: 45px;
        }

}
