/* 商品画像と詳細のコンテナ */
.item-details-container {
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    /* clearfixを追加 */
}

/* 商品画像 */
.item_img {
    float: left;
    width: 50%;
    box-sizing: border-box;
    /* ボックスモデル修正 */
}

.img{
    width: 60%;
    margin-top: 10%;
    margin-left: 15%;
}

/* 商品詳細 */
.item-details {
    width: 50%;
    min-width: 250px;
    /* item_imgと同じにする */
    box-sizing: border-box;
    /* ボックスモデル修正 */
    padding: 20px;
    background-color: #fff;
    float: left;
    /* 左にフロート */
}

/* 商品名 */
.item_name {
    font-size: 20px;
    font-weight: bold;
}

/* 価格 */
.item_price {
    font-size: 16px;
    font-weight: bold;
}

.category_content,
.condition_content {
    display: flex;
    margin-bottom: 10px;
}

.item_category {
    margin-bottom: 10px;
    font-weight: bold;
}

.category{
    background-color: dimgray;
    color: #fff;
    border-radius: 5px;
}

/* 商品の状態 */
.item_condition {
    margin-bottom: 10px;
    font-weight: bold;
}

/* 購入ボタン */
.buy {
    width: 175px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* 商品説明 */
.summary {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

/* 商品情報 */
.info {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}


/* カテゴリー */
.favorite_button{
    height: 25px;
}

.ster_img {
    width: 25px;
    border: none;
}

.ster {
    border: none;
    background-color: #fff;
    float: left;
}

.comment_img {
    width: 25px;
    margin-left: 25px;
}

.counts{
    margin-top: 10px;
}
.favorite_count{
margin-left: 8px;
}

.comment_count{
margin-left: 38px;

}

@media (max-width: 768px) {

    .main{
        text-align: center;
    }

    .img {
        text-align: center;
        width: 60%;
        margin-top: 10%;
        margin-left: 0;
    }
    .item_img,
    .item-details {
        width: 100%;
        /* 幅を100%に変更 */
        float: none;
        /* floatを解除 */
        box-sizing: border-box;
        margin-left: 0;
        /* 左のマージンを0に変更 */
    }

        .category_content,
        .condition_content {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

}
