.items-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 18%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item-details {
    text-align: center;
}

.detail {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ddd;
}
