.items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    width: 15%;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.item img {
    display: block;
    max-width: 100%;
    height: 60%;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 10px;
}

.item-details {
    text-align: center;
}

.tabs{
    border-bottom: solid 1px #000;
    margin-top: 15px;
}
.index-btn{
    margin-left: 5%;
    border: none;
    background-color: #fff;
    font-weight: bold;
}

.index-btn:hover {
    color: red;
    background-color: #fff;
}

.fav-btn{
    margin-left: 2%;
    border: none;
    background-color: #fff;
    font-weight: bold;
}

.fav-btn:hover {
    color: red;
    background-color: #fff;
}

.detail {
    display: block;
    line-height: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.item_name{
    margin: 0;
}
.item_price{
    margin: 0;
}
.index-btn:hover {
    color: red;
    background-color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ddd;
}

@media (max-width: 1150px) {
    .item {
        width: 20%;
        /* 画面幅が1150px以下の場合、4つで折り返し */
    }
}

@media (max-width: 768px) {
    .item {
        width: 40%;
        /* 画面幅が765px以下の場合、2つで折り返し */
    }
}